.mainWindow {
    -fx-background-color: WHITESMOKE;
}

.topButton {
    -fx-spacing: 5;
    -fx-padding: 5, 5, 5, 5;
}

.imageZone {
    -fx-padding: 5,10,5,10;
}

.imageZoneOnDrag {
    -fx-opacity: 0.5;
}
.statusBar {
    -fx-padding: 5,10,5,10;
    -fx-background-color: GREY;
    -fx-spacing: 5;
}

.buttonPrevious {
    -fx-rotate: -3;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

.buttonToday {
    -fx-rotate: 4;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

.buttonNext {
    -fx-rotate: -2;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

.statusDate {
    -fx-rotate: -7;
    -fx-font-color: #FFFFFF;
    -fx-font-family: 'BadaBoom BB';
    -fx-font-weight: lighter;
    -fx-font-size: 18;
}

#glass-grey {
    -fx-background-color:
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

#glass-grey:hover {
    -fx-background-color:
        #888989,
        linear-gradient(#c0c0c0 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #cfcfcf 45%, rgba(230,230,230,0) 50%);
}

.imageDisplay {
    -fx-align: center;
}

.dateSelector {
    -fx-padding: 5,10,5,10;
    -fx-spacing: 5;

}

.dateSelectorLabel {
    width: 120;
}

.comicSelect {
    -fx-rotate: 3;
    -fx-font-color: #FFFFFF;
    /*-fx-font-family: 'BadaBoom BB';*/
    -fx-font-weight: bolder;
    /*-fx-font-size: 14;*/
}

.list-cell {

    -fx-font-color: #FFFFFF;
    /*-fx-font-family: 'BadaBoom BB';*/
    -fx-font-weight: bolder;
    /*-fx-font-size: 14;*/

    /*
    -fx-background-color:
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    */
}
/**********************************************************************************************************************/
/*      C  A  L  E  N  D  A  R                                                                                        */
/**********************************************************************************************************************/

#DatepickerArrow {
    -fx-fill: gray;
    -fx-stroke: gray;
}
#DatepickerArrow:hover {
    -fx-fill: black;
    -fx-stroke: black;
}
#DatePicker {
    -fx-background-color: linear-gradient(to bottom, white, lightgrey);
    -fx-border-color: black;
}
#DatepickerDayCell {
    -fx-background-color: transparent;
    -fx-border-radius: 4;
    -fx-spacing: 0;
}
#DatepickerDayCell:hover {
    -fx-background-color: azure;
    -fx-border-color: royalblue;
    -fx-border-radius: 3;
    -fx-text-fill: royalblue;
}
.datepicker-today-cell {
    -fx-background-color: lightsteelblue;
    -fx-border-radius: 3;
    /*-fx-border-style: segments(2,2);*/
    -fx-border-color: royalblue;
    -fx-text-fill: royalblue;
    -fx-font-size: 12px;
}
.datepicker-weekday-row {
    -fx-background-color: linear-gradient(to bottom, gray, lightgray, lightgray, lightgray, gray);
    -fx-text-fill: black;
    -fx-font-size: 12px;
}
.datepicker-monthyear-row {
    -fx-background-color: linear-gradient(to bottom, gray, lightgray, gray);
    -fx-text-fill: black;
    -fx-font-size: 12px;
}
.datepicker-othermonth-cell {
    -fx-border-radius: 4;
    -fx-text-fill: gray;
    -fx-font-size: 12px;
}
#DatepickerTodayButton {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-rotate: -5;
    -fx-background-color:
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
#DatepickerTodayButton:hover {
    -fx-background-color:
        #888989,
        linear-gradient(#c0c0c0 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #cfcfcf 45%, rgba(230,230,230,0) 50%);
}
#DatepickerTodayButtonBox {
    -fx-padding: 5;
}
#CalenderButton {
    -fx-font-size: 14px;
    -fx-background-image: url("calender_icon.png");
    -fx-background-color: null;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-opacity: 0.4;
}

#CalenderButton:hover {
    -fx-opacity: 0.8;
}

#ForwardSlideShowButton {
    -fx-font-size: 14px;
    -fx-background-image: url("calender_icon.png");
    -fx-background-color: null;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.ForwardSlideShowButtonUnPressed {
    -fx-opacity: 1.0;
}
.ForwardSlideShowButtonPressed {
    -fx-opacity: 0.5;
}